.pagination {
  display: flex;
  gap: 10px;
}

.page-link {
  font-family: inter;
  color: #7c8dff;
  background-color: f3f5f7;
  border-radius: 5px;
  padding: 0.5rem 0.9rem;
  font-weight: 500;
}

.page-item.active .page-link {
  z-index: 3;
  font-family: inter;
  font-weight: 500;
  color: #7c8dff;
  border-color: #0d6efd;
  background: #d7e0ff !important;
}
