@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main_section {
  height: auto;
  width: 100%;
  padding: 1.4rem 1.8rem;
  background-color: #ebeef2;
}
